@charset "UTF-8";
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.pic-layout {
  display: flex;
  flex-direction: column;
  font-family: "微軟正黑體", sans-serif;
  font-size: 12px;
  height: 100%;
  width: 100%;
}

.pic-container {
  flex: 1 0 auto;
  display: flex;
}

.pic-layout--login .pic-container {
  background-color: #fafafa;
  justify-content: center;
  align-items: center;
  background-image: url("../img/bg-login.jpg");
  background-size: cover;
}

.pic-layout--login .pic-panel {
  width: 1024px;
  height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: transparent;
}

.pic-layout--login .pic-form {
  min-width: 420px;
  /* min-height: 430px; */
  border: 1px solid white;
  border-radius: 10px;
  align-self: flex-end;
  padding: 40px;
}

.login-section {
  flex: 1 0 auto;
  min-width: 100px;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.blur-me {
  filter: blur(5px);
}

.pic-header {
  background-color: #fac388;
  min-height: 40px;
  min-width: 1024px;
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  display: flex;
  color: #9f5400;
  justify-content: space-between;
  margin-bottom: 4px;
  border-bottom: 1px solid #d1d2d3;
  /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); */
}

.pic-header__section {
  padding: 0px 12px;
  align-items: center;
  display: flex;
}

/* .pic-logo {
  font-size: 2em;
} */
.pic-sidebar {
  background-color: #fff6ed;
  min-width: 214px;
  border: 1px solid #d1d2d3;
  box-sizing: border-box;
  /* border-right: 1px solid #d1d2d3; */
}

.pic-sidebar--hidden {
  display: none;
}

.pic-function-id {
  padding: 0 8px;
  /* &:before {
    content: 
  } */
}

.pic-content {
  background-color: #fafafa;
  flex: 1 0 0px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 4px;
  margin-right: 4px;
  margin-left: 4px;
  border: 1px solid #d1d2d3;
}

.pic-button {
  background-color: #fafafa;
  border-radius: 2px;
  border: 1px solid #d1d2d3;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 2;
  outline: none;
  padding: 0px 8px;
  text-decoration: none;
  font-family: inherit;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.45) 0px, rgba(255, 255, 255, 0) 100%);
}

.pic-button--flat {
  background-color: transparent;
  border: 0;
  background-image: none;
}

.pic-button--color-inherit {
  color: inherit;
}

.pic-button--lg {
  font-size: 2em;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  line-height: 1;
}

.pic-button--brand {
  background-color: #ef850d;
  color: white;
}

.pic-button:hover {
  background-color: #ffe0be;
  color: #9f5400;
}

.pic-button--disabled {
  opacity: .4;
  cursor: not-allowed;
}

.pic-button--disabled:hover {
  background-color: transparent;
  color: black;
}

.text-brand {
  color: #ef850d;
}

.text-brand--light {
  color: #dd9540;
}

.k-icon {
  margin-bottom: 1px;
}

.pic-form {
  /* padding: 8px 0; */
  /* background-color: #fafafa; */
}

.pic-form-group {
  margin-bottom: 8px;
}

.pic-form-group--no-margin {
  margin-bottom: 0;
}

.pic-form-group label {
  color: #003f59;
}

.pic-form-control {
  border-radius: 2px;
  border-color: #d1d2d3;
  /* height: 2em; */
}

.pic-form-control.pic-form-control--lg {
  border-radius: 4px;
  height: 48px;
  width: 100%;
  font-size: 1.5em;
  padding-left: 10px;
  padding-right: 10px;
}

.pic-form--inline {
  display: flex;
}

.pic-form--inline .pic-form-group {
  flex: 1 0 0px;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.pic-form--inline .pic-form-group label {
  padding-right: 4px;
  align-items: center;
}

.pic-form--inline .pic-form-group .pic-button {
  align-self: stretch;
  margin-left: 4px;
}

.pic-form--inline .pic-form-control {
  flex: 1 0 auto;
}

label.hide {
  display: none;
}

.pic-tabs {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
  border-bottom: 1px solid #ffe0be;
}

.pic-tab {
  cursor: default;
  color: #999a94;
  border: 1px solid #d1d2d3;
  border-bottom: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.pic-tab__inner {
  line-height: 2.67em;
  padding: 0 8px;
  border-bottom: 1px solid #ffe0be;
  margin-bottom: -1px;
}

.pic-icon-stack {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  display: inline-block;
  vertical-align: middle;
}

.pic-icon-stack i {
  position: absolute;
  width: 100%;
  text-align: center;
}

.pic-icon-stack .fa-circle {
  color: transparent;
  font-size: 1.5em;
}

.pic-icon-stack .fa-remove {
  line-height: 1.5em;
}

.pic-tab--selected {
  background-color: white;
  color: #353630;
  border-color: #ffe0be;
}

.pic-tab--selected .pic-tab__inner {
  border-bottom-color: white;
}

.pic-tab--selected .pic-icon-stack .fa-remove {
  color: #003f59;
}

.pic-icon-stack:hover .fa-circle {
  color: #F5364E;
}

.pic-icon-stack:hover .fa-remove {
  color: white;
}

.pic-tab-contents {
  flex: 1 0 auto;
  display: flex;
}

.pic-tab-content {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  flex: 1 0 0px;
  padding: 4px;
  flex-direction: column;
  border: 1px solid #d1d2d3;
  border-top: 0;
}

.pic-tab-content--selected {
  display: flex;
  border-color: #ffe0be;
}

.pic-toolbar {
  display: flex;
  background-color: #f5f5f5;
  min-height: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #d1d2d3;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.45) 0px, rgba(255, 255, 255, 0) 100%);
}

.pic-button-group {
  display: flex;
  padding: 0 8px;
  align-items: center;
}

.pic-button-group .pic-button:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0;
}

.pic-button-group .pic-button:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.pic-toolbar .pic-button-group:not(:first-child) {
  border-left: 1px solid silver;
}

.pic-panel {
  background-color: #fafafa;
  border: 1px solid #d1d2d3;
  border-top: 0;
  border-bottom: 0;
  padding: 8px 0;
  box-sizing: border-box;
}

.pic-panel--borderless {
  border: 0;
}

.pic-tab-content .pic-panel {
  padding: 16px 0;
}

.pic-grid {
  min-height: 50px;
  flex: 1 0 0px;
  display: flex;
  flex-direction: column;
}

.pic-grid > div {
  flex: 0 0 auto;
}

.pic-grid .k-grid-content {
  flex: 1 0 0px;
  min-height: 90px;
}

.k-header, .k-grid-header {
  background-color: #f7e5e5;
}
