// Button groups
//
// 將相同系列的按鈕放在一起。
//
//
// Markup:
// <div class="pic-btn-group">
//   <button class="pic-btn" type="button">Button</button>
//   <button class="pic-btn" type="button">Button</button>
//   <button class="pic-btn" type="button">Button</button>
// </div>
//
//
//
// Style guide: 2

.pic-btn-group {
  display: flex;
  padding: 0 8px;
  align-items: center;
}

.pic-btn-group .pic-btn:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left-width: 0;
}
.pic-btn-group .pic-btn:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.pic-btn-group .pic-btn:not(:last-child)[disabled] {
  border-right-width: 0;
  & + .pic-btn {
    border-left-width: 1px;
  }
}
