// Buttons 按鈕
//
// 在 `<button>` 或者 `<a>` 加上 `.pic-btn`。
//
// .pic-btn--primary - 以品牌主色為背景的按鈕
// .pic-btn--success - 成功按鈕，綠色背景
// .pic-btn--warning - 警告按鈕，黃色背景
// .pic-btn--danger - 危險按鈕，紅色背景
// .pic-btn--flat   - 沒有邊框的按鈕
// .pic-btn--lg - 大型按鈕 (width:100%)
// .pic-btn--disabled - 不能用的按鈕
//
//
// Markup:
// <a class="pic-btn {{modifier_class}}" href="#">Link</a>
// <button class="pic-btn {{modifier_class}}" type="button">Button</button>
//
// Style guide: 1

.pic-btn {
  /* background-color: $light-grey; */
  background-image: $linear-gradient;
  border-radius: 2px;
  border: 1px solid $grey;
  box-sizing: border-box;
  cursor: pointer;
  color: $dark-grey;
  display: inline-block;
  font-size: 12px;
  line-height: 2;
  outline: none;
  padding: 0px 8px;
  text-decoration: none;
  &:hover {
    /* background-color: rgba( $light-grey, .4 ); */
    background-color: rgba( $primary, .4 );
    //color: $primary-dark;
  }
  &:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .125)
  }
  /* &:focus {
    outline: 2px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  } */
  &--primary {
    background-color: $primary;
    color: $white;
    &:hover {
      background-color: rgba( $primary, .4 );
      color: $primary-dark;
    }
  }
  &--success {
    background-color: rgba( $success, .8 );
    color: $white;
    &:hover {
      background-color: $success;
    }
  }
  &--warning {
    background-color: $warning;
    color: $white;
    &:hover {
      background-color: rgba( $warning, .4 );
    }
  }
  &--danger {
    background-color: $danger;
    color: $white;
    &:hover {
      background-color: rgba( $danger, .4 );
    }
  }
  &--flat {
    border: 0;
    background-image: none;
  }

}


.pic-btn--lg {
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  &.pic-btn-flat {
    font-size: 2em;
    line-height: 1;
  }
}

.pic-btn.disabled, .pic-btn[disabled] {
  pointer-events: none;
  opacity: .4;
  //cursor: not-allowed;
  /* &:hover {
    background-color: transparent;
    color: $black;
  } */
}
