// Buttons 按鈕
//
// 在 `<button>` 或者 `<a>` 加上 `.pic-btn`。
//
//
// Markup:
// <button class="pic-btn" type="button">Button</button>
// <a class="pic-btn" href="#" role="button">Link</a>
//
// Style guide: 1

.pic-btn {
  background-color: $light-grey;
  background-image: $linear-gradient;
  border-radius: 2px;
  border: 1px solid $grey;
  box-sizing: border-box;
  cursor: pointer;
  color: $dark-grey;
  display: inline-block;
  font-size: 12px;
  line-height: 2;
  outline: none;
  padding: 0px 8px;
  text-decoration: none;
  &:hover {
    background-color: rgba( $grey, .4 );
    /* background-color: rgba( $primary, .4 ); */
  }
  &:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .125)
  }
  &:focus {
    // outline: 2px auto -webkit-focus-ring-color;
    // outline-offset: -2px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
  }
  &--primary {
    background-color: rgba( $primary, .8 );
    /* color: $white; */
    color: $primary-dark;
    &:hover {
      background-color: $primary;
    }
  }
  &--success {
    background-color: rgba( $success, .8 );
    color: $white;
    &:hover {
      background-color: $success;
    }
  }
  &--warning {
    background-color: rgba( $warning, .8 );
    color: $white;
    &:hover {
      background-color: $warning;
    }
  }
  &--danger {
    background-color: rgba( $danger, .8 );
    color: $white;
    &:hover {
      background-color: $danger;
    }
  }
  &--flat {
    border: 0;
    background-image: none;
    background-color: transparent;
    &:hover {
      background-color: rgba($black, .2);
      color: $white;
    }
    &:active {
      box-shadow: none;
      background-color: rgba($black, .3);
    }
  }
  &--block {
    width: 100%;
  }
}


// Button options
//
// 各種背景的按鈕
//
//
// Markup:
// <button class="pic-btn pic-btn--primary" type="button">Primary</button>
// <button class="pic-btn pic-btn--success" type="button">Success</button>
// <button class="pic-btn pic-btn--warning" type="button">Warning</button>
// <button class="pic-btn pic-btn--danger" type="button">Danger</button>
// <button class="pic-btn pic-btn--flat" type="button">Flat</button>
//
// Style guide: 1.1


// Button sizes
//
// 按鈕大小
// `.pic-btn--block` 會以 width: 100% 顯示。
//
// Markup:
// <button class="pic-btn pic-btn--lg" type="button">Large Button</button>
// <button class="pic-btn pic-btn--lg pic-btn--block" type="button">Large Block Button</button>
//
// Style guide: 1.2

.pic-btn--lg {
  font-size: 1.5em;
  text-align: center;
  border-radius: 6px;
  &.pic-btn-flat {
    font-size: 2em;
    line-height: 1;
  }
}

// Disabled button
//
// 無法使用的按鈕
//
//
// Markup:
// <button class="pic-btn" type="button" disabled>Button</button>
// <button class="pic-btn pic-btn--primary" type="button" disabled>Button</button>
// <a class="pic-btn disabled" href="#" role="button">Link</a>
//
// Style guide: 1.3


/* .pic-btn.disabled, .pic-btn[disabled] {
  pointer-events: none;
  opacity: .4;
  //cursor: not-allowed;
  &:hover {
    background-color: transparent;
    color: $black;
  }
} */
