.pic-content {
  background-color: #fafafa;
  flex: 1 0 0px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 4px;
  margin-right: 4px;
  margin-left: 4px;
  border: 1px solid #d1d2d3;
}
