// Forms 表單
//
// 表單
//
// Markup: ../handelbars/form.hbs
//
//
// Style guide: 2

.pic-form {
  box-sizing: border-box;
  padding: 8px 0;
  .pic-workarea & {
    padding: 16px 0;
  }
  &__inline {
    display: flex;
  }
}

.pic-form > .pic-form-element,
.pic-form > .pic-form__inline .pic-form-element {
  margin-top: 8px;
}

.pic-form > .pic-form-element:first-child,
.pic-form > .pic-form__inline:first-child .pic-form-element {
  margin-top: 0;
}

.pic-form-element__label {
  color: $dark-grey;
  display: block;
  &--required:before {
    content: '*';
    color: $danger;
    margin-right: 4px;
  }
}

.pic-input {
  vertical-align: middle;
  border-radius: 2px;
  border: 1px solid $grey;
  background: $white;
  outline: 0;
  /* min-width: 12.4em; */
  box-sizing: border-box;
  width: 100%;

  height: 2.13em;
  text-indent: .33em;
  line-height: 1.6em;
  padding: 2px .3em;
  &:focus {
    box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
  }
  &[disabled] {
    cursor: not-allowed;
  }
  &--lg {
    font-size: 1.5em;
    border-radius: 4px;
    /* height: 48px; */
    /* width: 100%; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
  }
  &--warning {
    border-color: $danger;
    background-color: #fff8ed !important;
  }
  &[readonly] {
    background-color: $grey !important;
    box-shadow: none !important;
    border: 1px solid $grey !important;
  }
  &--right-btn {
    margin-right: 4px;
  }
}

.pic-form__inline .pic-form-element {
  flex: 1 0 0px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  //&:not(:first-child) {
  margin-left: 16px;
  //}
}

.pic-form__inline .pic-form-element:first-child {
  margin-left: 0;
}

.pic-form__inline .pic-form-element__label {
  flex: 1 0 0px;
  text-align: right;
  padding-right: 8px;
}
.pic-form__inline .pic-form-element__control {
  flex: 5 0 0px;
  display: flex;
  align-items: center;
  .pic-form-element__label {
    flex: 0 0 auto;
    padding: 0 8px;
  }
  & > .pic-input, & > .pic-widget {
    flex: 1 1 auto;
  }
}

.pic-form__inline .pic-input {
  width: auto;
}

/* .pic-form__inline .pic-form-element {
  .pic-form-element__label {
    padding-right: 4px;
  }
  .pic-form-icon {
    align-items: center;
    font-size: 1.3em;
    padding: 0 8px;
  }
}

.pic-form__inline .pic-form-element__control .pic-btn {
  align-self: stretch;
  margin-left: 4px;
} */
