// Forms 表單
//
// 表單的基本組成物件是表單元素 (form element) 。
// 表單元素由一個 `<label>` 以及 `<input>`、`<textarea>`、`<select>` 等輸入元素所組成。
//
// `<label>` 需加上 `.pic-form-element__label`。
// 輸入欄位如果有一個以上，需要用 `<div class=".pic-form-element__control"/>` 的控制項包起來，以顯示設計好的佈局。
// 在水平及行內排列時 `.pic-form-element__label` 及 `.pic-form-element__control` 的寬度比是1:5。
//
// 表單提供三種排列方式：水平（預設值）、垂直及行內。
// 水平排列的表單 `.pic-form-element__label` 及 `.pic-form-element__control` 會在同一行，
// `.pic-form-element__label` 文字靠右對齊。
//
//
// Markup:
// <div class="pic-form">
//   <div class="pic-form-element">
//     <label class="pic-form-element__label" for="foo">活動代號</label>
//     <div class="pic-form-element__control">
//       <input class="pic-input" id="foo" type="text" placeholder="輸入活動代號">
//     </div>
//   </div>
//   <div class="pic-form-element">
//     <label class="pic-form-element__label" for="foe">活動名稱</label>
//     <div class="pic-form-element__control">
//       <input class="pic-input" id="foe" type="text" placeholder="輸入活動名稱">
//     </div>
//   </div>
// </div>
//
// Style guide: 2

.pic-form {
  box-sizing: border-box;
  padding: 8px 0;
  .pic-workarea & {
    padding: 16px 0;
  }
  > .pic-form-element:not(:first-child) {
    margin-top: 8px;
  }
}

.pic-form-element {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /* &:not(:first-child) {
    margin-left: 16px;
  } */
}

.pic-form-element__label {
  color: $dark-grey;
  display: block;
  flex: 1 0 0px;
  text-align: right;
  padding-right: 8px;

  &--required:before {
    content: '*';
    color: $danger;
    margin-right: 4px;
  }
}

.pic-form-element__control {
  flex: 5 0 0px;
  display: flex;
  align-items: center;
  .pic-form-element__el {
    flex: 0 0 auto;
    padding: 0 8px;
    box-sizing: border-box;
  }
  & > .pic-input, & > .pic-widget {
    flex: 1 1 0px;
  }
}

.pic-input {
  vertical-align: middle;
  border-radius: 2px;
  border: 1px solid $grey;
  background: $white;
  outline: 0;
  box-sizing: border-box;
  width: 100%;

  height: 2.13em;
  /* text-indent: .33em; */
  line-height: 1.6em;
  padding: 2px .3em;
  &:focus {
    box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
  }
  &[disabled] {
    cursor: not-allowed;
    background-color: #eee !important;
    box-shadow: none !important;
    border: 1px solid $grey !important;
  }
  &--lg {
    font-size: 1.5em;
    border-radius: 6px;
    line-height: 2;
    height: 2.67em;
    /* padding: 10px 16px; */
  }
  &--warning {
    border-color: $danger;
    background-color: #fff8ed !important;
  }
  &[readonly] {
    background-color: #eee !important;
  }
  &--right-el {
    margin-right: 4px;
  }
}

// Inline form 行內排列
//
// 使用 `.pic-form__inline` 把要在同一行的 `.pic-form-element` 包起來。
//
// Markup:
// <div class="pic-form">
//   <div class="pic-form__inline">
//     <div class="pic-form-element">
//       <label class="pic-form-element__label" for="foo">活動代號</label>
//       <div class="pic-form-element__control">
//         <input class="pic-input" id="foo" type="text" placeholder="輸入活動代號">
//       </div>
//     </div>
//     <div class="pic-form-element">
//       <label class="pic-form-element__label" for="foe">活動名稱</label>
//       <div class="pic-form-element__control">
//         <input class="pic-input" id="foe" type="text" placeholder="輸入活動名稱">
//       </div>
//     </div>
//   </div>
//   <div class="pic-form__inline">
//     <div class="pic-form-element">
//       <span class="pic-form-element__label">活動日期</span>
//       <div class="pic-form-element__control">
//         <input class="datepicker pic-widget" name="start" value="" placeholder="請選擇起始日期">
//         <span class="pic-form-element__el">~</span>
//         <input class="datepicker pic-widget" name="end" value="" placeholder="請選擇結束日期">
//       </div>
//     </div>
//     <div class="pic-form-element">
//       <span class="pic-form-element__label">負責人員</span>
//       <div class="pic-form-element__control">
//         <input class="pic-widget" id="person" placeholder="選擇建立人員">
//         <span class="pic-form-element__el">員工編號</span>
//         <input class="pic-input" type="text" readonly>
//       </div>
//     </div>
//   </div>
// </div>
//
// Style guide: 2.1

.pic-form__inline {
  display: flex;
  .pic-form-element {
    flex: 1 0 0px;
    &:not(:first-child) {
      margin-left: 16px;
    }
  }
  .pic-input {
    width: auto;
  }
}

.pic-form > .pic-form__inline:not(:first-child) .pic-form-element {
  margin-top: 8px;
}

// Vertical form 垂直排列
//
// 在 `.pic-form` 加上 `.pic-form--vertical`。垂直排列的表單適合用在登入及註冊頁面，
// `.pic-form-element__label` 及 `.pic-form-element__control` 會以堆疊方式呈現。
// `.pic-form-element__label` 文字靠左對齊。
//
// Markup:
// <div class="pic-form pic-form--vertical">
//   <div class="pic-form-element">
//     <label class="pic-form-element__label" for="foo">活動代號</label>
//     <div class="pic-form-element__control">
//       <input class="pic-input" id="foo" type="text" placeholder="輸入活動代號">
//     </div>
//   </div>
//   <div class="pic-form-element">
//     <label class="pic-form-element__label" for="foe">活動名稱</label>
//     <div class="pic-form-element__control">
//       <input class="pic-input" id="foe" type="text" placeholder="輸入活動名稱">
//     </div>
//   </div>
// </div>
//
// Style guide: 2.2

.pic-form--vertical {
  .pic-form-element {
    display: block;
  }
  .pic-form-element__label {
    padding-right: 0px;
    text-align: left;
    margin-bottom: 4px;
  }
}
