.pic-grid {
  min-height: 50px;
  flex: 1 0 0px;
  display: flex;
  flex-direction: column;
}
.pic-grid > div {
  flex: 0 0 auto;
}
.pic-grid .k-grid-content {
  flex: 1 0 0px;
  min-height: 90px;
}

.k-header, .k-grid-header {
  background-color: #f7e5e5;
}

.k-header .k-link {
  text-align: center;
}
