// Data grid
//
// Data grid.
//
//
// Markup:
// <div class="pic-grid">
//
//
//
//
// <div>
//
// Style guide: 8

.pic-grid {
  min-height: 50px;
  flex: 1 0 0px;
  display: flex;
  flex-direction: column;
}
.pic-grid > div {
  flex: 0 0 auto;
}
.pic-grid .k-grid-content {
  flex: 1 0 0px;
  min-height: 90px;
}

/* .k-widget .k-header {
  background-color: $primary;
  color: $white;
} */

.k-grid-header th.k-header {
  background-color: #f7e5e5;
  color: $dark-grey;
  &.pic-align-center {
    text-align: center;
  }
}

/* .k-header .k-link {
  text-align: center;
} */

.pic-grid.disabled {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba( $grey, .6);
    z-index: 2;
  }
}
