.pic-header {
  background-color: #fac388;
  min-height: 40px;
  min-width: 1024px;
  background-image: url('../img/bg-header.jpg');
  background-repeat: no-repeat;
  display: flex;
  color: #9f5400;
  justify-content: space-between;
  margin-bottom: 4px;
  border-bottom: 1px solid #d1d2d3;
  /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); */
}

.pic-header__section {
  padding: 0px 12px;
  align-items: center;
  display: flex;
}

/* .pic-logo {
  font-size: 2em;
} */
