// Labels
//
// 各種顏色的提示標籤。
//
//
// Markup:
// <span class="pic-label">Default</span>
// <span class="pic-label pic-label--primary">Primary</span>
// <span class="pic-label pic-label--info">Info</span>
// <span class="pic-label pic-label--success">Success</span>
// <span class="pic-label pic-label--warning">Warning</span>
// <span class="pic-label pic-label--danger">Danger</span>
//
// Style guide: 7

.pic-label {
  background-color: $dark-grey;
  border-radius: 2px;
  color: $white;
  font-weight: 700;
  display: inline-block;
  /* font-size: 75%; */
  line-height: 1;
  outline: none;
  padding: .2em .6em;
  &--primary {
    background-color: $primary;
  }
  &--success {
    background-color: $success;
  }
  &--info {
    background-color: $info;
  }
  &--warning {
    background-color: $warning;
  }
  &--danger {
    background-color: $danger;
  }
}
