// other

// helper classes
.pic-align-right {
  text-align: right;
}

.pic-align-left {
  text-align: left;
}

.pic-align-center {
  text-align: center;
}

.pic-hidden {
  display: none !important;
}

.pic-show {
  display: block !important;
}

.pic-invisible {
  visibility: hidden;
}

.pic-pull-right {
  align-self: flex-end;
}

.pic-pull-left {
  align-self: flex-start;
}

.pic-center-block {
  align-self: center;
}

.pic-text-primary {
  color: $primary;
}
.pic-text-primary-light {
  color: $primary-light;
}
.pic-text-primary-dark {
  color: $primary-dark;
}
.pic-text-info {
  color: $info;
}
.pic-text-success {
  color: $success;
}
.pic-text-warning {
  color: $warning;
}
.pic-text-danger {
  color: $danger;
}
.pic-bg-primary {
  background-color: rgba($primary, .4);
}
.pic-bg-info {
  background-color: rgba($info, .4);
}
.pic-bg-success {
  background-color: rgba($success, .4);
}
.pic-bg-warning {
  background-color: rgba($warning, .4);
}
.pic-bg-danger {
  background-color: rgba($danger, .4);
}

// creat icon stack
.pic-stack {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  display: inline-block;
  vertical-align: middle;
  &__big {
    color: transparent;
    font-size: 1.5em;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  &__normal {
    line-height: 1.5em;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  &:hover {
    .pic-stack__big {
      color: $danger;
    }
    .pic-stack__normal {
      color: $white;
    }
  }
}

.pic-img-responsive {
  display: block;
  width: auto;
  height: 100%;
}

.pic-label {
  background-color: $dark-grey;
  border-radius: 2px;
  color: $white;
  font-weight: 700;
  display: inline-block;
  /* font-size: 75%; */
  line-height: 1;
  outline: none;
  padding: .2em .6em;
  &--primary {
    background-color: $primary;
  }
  &--success {
    background-color: $success;
  }
  &--info {
    background-color: $info;
  }
  &--warning {
    background-color: $warning;
  }
  &--danger {
    background-color: $danger;
  }
}
