// Panel
//
// 一個頁面區塊，加上簡單的背景色和左右 8px padding。
//
//
// Markup:
// <div class="pic-panel">
//  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan
//  arcu eu felis bibendum, vehicula laoreet sem facilisis. Donec blandit
//  ornare mattis. Pellentesque sollicitudin hendrerit neque, non rutrum lectus
//  luctus eget. Proin luctus odio et tortor hendrerit blandit.</p>
//  <p>Morbi purus augue, egestas a accumsan at, convallis vitae nisl. Donec
//  fermentum felis et purus pellentesque, id tristique elit laoreet. Aliquam
//  malesuada iaculis dapibus. Aenean pellentesque elementum mattis. Praesent
//  eget nisi condimentum tortor ultrices dictum. Nulla fermentum hendrerit
//  cursus. Integer id neque nec mi tincidunt vulputate.</p>
// </div>
//
// Style guide: 5

.pic-panel {
  background-color: $light-grey;
  padding: 0 8px;
  box-sizing: border-box;
}


.pic-workarea > .pic-panel {
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;
}

.pic-workarea > .pic-panel--readonly {
  border-left: 0;
  border-right: 0;
  background-color: $light-blue;

  & + .pic-panel {
    border-top: 1px solid $grey;
  }
}
