// shame

// Overwrite Kendo CSS styles
// 應該直接在Kendo的原始檔裡面改
/* .k-alt {
  background-color: rgba($primary-light, .3);
} */


.k-icon {
  margin-bottom: 1px;
}

.k-treeview .k-icon {
  background-image: none !important;
}

.k-dialog {
  min-width: 300px;
  font-family: -apple-system, "微軟正黑體", sans-serif;
  .k-content {
    text-align: center;
  }
  .k-dialog-titlebar {
    padding: 8px;
    color: white;
    .k-dialog-title {
      font-size: 0.9em;
      left: 1.8em;
    }
  }
  .k-dialog-buttongroup {
    &.k-dialog-button-layout-normal {
      text-align: center;
    }
    .k-button {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.k-dialog-titlebar {
  .dialog-danger & {
    background-color: #F5364E;
    &:before {
      content:'\f071';
      font-family: FontAwesome;
    }
  }
  .dialog-warning & {
    background-color: #F39A1E;
    &:before {
      content:'\f12a';
      font-family: FontAwesome;
    }
  }
  .dialog-success & {
    background-color: #69BE28;
    &:before {
      content:'\f00c';
      font-family: FontAwesome;
    }
  }
}
