.pic-sidebar {
  background-color: #fff6ed;
  min-width: 214px;
  border: 1px solid #d1d2d3;
  box-sizing: border-box;
  /* border-right: 1px solid #d1d2d3; */
}

.pic-sidebar--hidden {
  display: none;
}

.pic-function-id {
  padding-right: 8px;
  &:before {
    content: '\f111';
    font-family: FontAwesome;
    padding-right: 8px;
    color: #999a94;
    font-size: 0.9em;
  }
}
