.pic-sidebar {
  background-color: rgba($primary-light, .3);
  min-width: 214px;
  border: 1px solid #d1d2d3;
  box-sizing: border-box;
  // width: 214px;
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  .k-treeview {
    flex: 1 0 auto;
    height: 100%;
    overflow-x: auto;
  }
  .pic-form-element__control {
    justify-content: center;
  }
}

.pic-sidebar--hidden,
.pic-sidebar--hidden ~ .gutter {
  display: none;
}

.pic-nav-wrapper {
  flex: 1 0 0px;
  overflow-y: auto;
}

.pic-function-id {
  padding-right: 8px;
  &:before {
    content: '\f111';
    font-family: FontAwesome;
    padding-right: 8px;
    color: #999a94;
    font-size: 0.9em;
  }
}
