// Tabs
//
// 頁籤
//
//
// Markup:
// <div style="display:flex; flex-direction:column;">
//   <div class="pic-tabs">
//     <div class="pic-tab pic-tab--selected" name="foo">
//       <div class="pic-tab__inner">
//         Foo
//       </div>
//     </div>
//     <div class="pic-tab" name="foe">
//       <div class="pic-tab__inner">
//         Foe
//       </div>
//     </div>
//     <div class="pic-tab" name="fat">
//       <div class="pic-tab__inner">
//         Fat
//       </div>
//     </div>
//   </div>
//   <div class="pic-workareas">
//     <div class="pic-workarea pic-workarea--selected" name="foo">
//       foo tab
//     </div>
//     <div class="pic-workarea" name="foe">
//       foe tab
//     </div>
//     <div class="pic-workarea" name="fat">
//       fat tab
//     </div>
//   </div>
// </div>
//
// Style guide: 6

.pic-tabs {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
  border-bottom: 1px solid $primary-light;
}

.pic-tab {
  cursor: default;
  color: $medium-grey;
  border: 1px solid $grey;
  border-bottom: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  &--fixed-width {
    width: 100px;
  }
  &--selected {
    background-color: $white;
    color: $dark-grey;
    border-color: $primary-light;
  }
  &__inner {
    line-height: 2.67em;
    padding: 0 8px;
    border-bottom: 1px solid $primary-light;
    margin-bottom: -1px;
    .pic-tab--selected & {
      border-bottom-color: $white;
    }
  }
}




.pic-workareas {
  flex: 1 0 auto;
  display: flex;
}
.pic-workarea {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $white;
  flex: 1 0 0px;
  padding: 4px;
  flex-direction: column;
  border: 1px solid $grey;
  border-top: 0;
  &--selected {
    display: flex;
    border-color: $primary-light;
  }
}
