// Toolbar 工具列
//
// 由 button groups 所組成。
// 在 button groups 之間加入 `.pic-toolbar__divider` 以產生分隔線。
// 加入 `.pic-toolbar__filler` 以產生空白區域。
//
// Markup:
// <div class="pic-toolbar">
//   <div class="pic-btn-group">
//     <button class="pic-btn" type="button">Button</button>
//     <button class="pic-btn" type="button">Button</button>
//     <button class="pic-btn" type="button">Button</button>
//   </div>
//   <div class="pic-toolbar__divider"></div>
//   <div class="pic-btn-group">
//     <button class="pic-btn" type="button">Button</button>
//     <button class="pic-btn" type="button">Button</button>
//   </div>
//   <div class="pic-toolbar__divider"></div>
//   <div class="pic-btn-group">
//     <button class="pic-btn" type="button">Button</button>
//     <button class="pic-btn" type="button">Button</button>
//     <button class="pic-btn" type="button">Button</button>
//   </div>
//   <div class="pic-toolbar__filler"></div>
//   <div class="pic-btn-group">
//     <button class="pic-btn">Button</button>
//   </div>
// </div>
//
// Style guide: 4

.pic-toolbar {
  display: flex;
  background-color: #f5f5f5;
  /* background-color: #d1d1d1; */
  min-height: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid $grey;
  box-sizing: border-box;
  background-image: $linear-gradient;
  &__divider {
    border-left: 1px solid $grey;
    border-right: 1px solid $white;
  }
  &__filler {
    flex: 1 0 0px;
  }
}
