// project-spesific variables
//$cosmed-orange: #EF850D;

//
// colors
//
$primary: #EF850D;
$primary-light: #FFE0BE;
$primary-dark: #9F5400;
$secondary: #0073A2;
$secondary-light: #51A1D3;
$secondary-dark: #004873;

$info: #00A1DE;
$success: #69BE28;
$warning: #F39A1E;
$danger: #F5364E;

// dark grey for main headings, body copy and backgrounds
$dark-grey: #353630;
// medium grey for subheadings and supporting body copy
$medium-grey: #999A94;
// grey color for borders, lines, strokes or dividers
$grey: #D1D2D3;
// very light grey for backgrounds
$light-grey: #FAFAFA;

$white: #FFF;
$black: #000;
$light-blue: #F1F2F7;

$linear-gradient: linear-gradient(to bottom, rgba(255,255,255,.45) 0px, rgba(255,255,255,0) 100%);
