html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.pic-layout * {
  box-sizing: border-box;
}

.pic-layout {
  display: flex;
  flex-direction: column;
  font-family: "微軟正黑體", sans-serif;
  font-size: 12px;
  height: 100%;
  width: 100%;
}

.pic-container {
  flex: 1 0 auto;
  display: flex;
}

.pic-layout--login {
  .pic-container {
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
  }
  .pic-panel {
    min-width: 1024px;
    min-height: 768px;
    background-image: url('../img/bg-login.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .pic-form {
    min-width: 420px;
    min-height: 430px;
    border: 1px solid white;
    border-radius: 10px;
    align-self: flex-end;
    padding: 40px;
  }
}

.login-section {
  /* width: 100%; */
  flex: 1 1 40px;
  min-width: 100px;
  display: flex;
  align-items: center;
}

.blur-me {
  filter: blur(5px);
}
