html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.pic-layout * {
  box-sizing: border-box;
}

.pic-layout {
  display: flex;
  flex-direction: column;
  font-family: "微軟正黑體", sans-serif;
  font-size: 12px;
  height: 100%;
  width: 100%;
}

.pic-container {
  flex: 1 0 auto;
  display: flex;
}
