html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.pic-layout * {
  //box-sizing: border-box;
}

.pic-layout {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, "微軟正黑體", sans-serif;
  font-size: 12px;
  height: 100%;
  width: 100%;
}

.pic-container {
  flex: 1 0 auto;
  display: flex;
}

.pic-layout--login {
  .pic-container {
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    background-image: url('../img/bg-login.jpg');
    background-size: cover;
  }
  .pic-panel {
    width: 1024px;
    height: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: transparent;
  }
  .pic-form {
    min-width: 420px;
    /* min-height: 430px; */
    border: 1px solid white;
    border-radius: 10px;
    align-self: flex-end;
    padding: 40px;
  }
}

.login-section {
  flex: 1 0 auto;
  min-width: 100px;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.blur-me {
  filter: blur(5px);
}

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.k-dialog {
  min-width: 300px;
  font-family: -apple-system, "微軟正黑體", sans-serif;
  .k-content {
    text-align: center;
  }
  .k-dialog-titlebar {
    padding: 8px;
    color: white;
    .k-dialog-title {
      font-size: 0.9em;
    }
  }
  .k-dialog-buttongroup {
    &.k-dialog-button-layout-normal {
      text-align: center;
    }
    .k-button {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.k-dialog-titlebar {
  .dialog-danger & {
    background-color: #F5364E;
  }

}
