.pic-sidebar {
  background-color: #fff6ed;
  min-width: 214px;
  border: 1px solid #d1d2d3;
  box-sizing: border-box;
  /* border-right: 1px solid #d1d2d3; */
}

.pic-sidebar--hidden {
  display: none;
}

.pic-nav {

}
