// Button
//
// 就是按鈕
//
// .pic-button - 原始按鈕狀態
//
// Markup: <button class="pic-button">Button</button>
//
// Style guide: button

.pic-button {
  background-color: #fafafa;
  border-radius: 2px;
  border: 1px solid #d1d2d3;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 2;
  outline: none;
  padding: 0px 8px;
  text-decoration: none;
  font-family: inherit;
  background-image: linear-gradient(to bottom, rgba(255,255,255,.45) 0px, rgba(255,255,255,0) 100%);
}

.pic-button--flat {
  background-color: transparent;
  border: 0;
  background-image: none;
}

.pic-button--color-inherit {
  color: inherit;
}
.pic-button--lg {
  font-size: 2em;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  line-height: 1;
}
.pic-button--brand {
  background-color: #ef850d;
  color: white;
}
.pic-button:hover {
  background-color: #ffe0be;
  color: #9f5400;
}

.pic-button--disabled {
  opacity: .4;
  cursor: not-allowed;
}
.pic-button--disabled:hover {
  background-color: transparent;
  color: black;
}

.text-brand {
  color: #ef850d;
}
.text-brand--light {
  color: #dd9540;
}
.k-icon {
  margin-bottom: 1px;
}
