.pic-button-group {
  display: flex;
  padding: 0 8px;
  align-items: center;
}

.pic-button-group .pic-button:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0;
}
.pic-button-group .pic-button:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.pic-toolbar .pic-button-group:not(:first-child) {
  border-left: 1px solid silver;

}
.pic-toolbar .pic-button-group.empty {
  border-left: 0;
  flex: 1 0 0px;
}
.pic-toolbar .pic-button-group.last {
  border-left: 0;
}
