.pic-form {
  /* padding: 8px 0; */
  /* background-color: #fafafa; */
}
.pic-form-group {

  margin-bottom: 8px;
}
.pic-form-group--no-margin {
  margin-bottom: 0;
}
.pic-form-group label {
  color: #003f59;
}
.pic-form-control {
  border-radius: 2px;
  border-color: #d1d2d3;
  /* height: 2em; */

}

.pic-form-control.pic-form-control--lg {
  border-radius: 4px;
  height: 48px;
  width: 100%;
  font-size: 1.5em;
  padding-left: 10px;
  padding-right: 10px;
}

.pic-form--inline {
  display: flex;
}
.pic-form--inline .pic-form-group {
  flex: 1 0 0px;
  display: flex;
  align-items: center;
  padding: 0 8px;
}
.pic-form--inline .pic-form-group label {
  padding-right: 4px;
  align-items: center;
}
.pic-form--inline .pic-form-group .pic-button {
  align-self: stretch;
  margin-left: 4px;
}
.pic-form--inline .pic-form-control {
  flex: 1 0 auto;
}

label.hide {
  display: none;
}
