.pic-form {
  /* padding: 8px 0; */
  /* background-color: #fafafa; */
}
.pic-form-group {
  margin-bottom: 8px;
}
.no-margin .pic-form-group {
  margin-bottom: 0;
}
.pic-form-group label {
  color: #003f59;
}
.pic-form-control {
  border-radius: 2px;
  border-color: #d1d2d3;
  /* height: 2em; */

}

.pic-form-control.pic-form-control--lg {
  border-radius: 4px;
  height: 48px;
  width: 100%;
  font-size: 1.5em;
  padding-left: 10px;
  padding-right: 10px;
}

.pic-form--inline {
  display: flex;
}
.pic-form--inline .pic-form-group {
  flex: 1 0 0px;
  display: flex;
  align-items: center;
  padding: 0 8px;
}
.pic-form--inline .pic-form-group {
  label, .pic-form-label {
    padding-right: 4px;
    align-items: center;
  }
  .pic-form-icon {
    align-items: center;
    font-size: 1.3em;
    padding: 0 8px;
  }
}
.pic-form--inline .pic-form-group .pic-button {
  align-self: stretch;
  margin-left: 4px;
}
.pic-form--inline .pic-form-control {
  flex: 1 0 auto;
}
.pic-form-control[readonly] {
  background-color: #d1d2d3 !important;
  box-shadow: none !important;
  border: 1px solid #d1d2d3 !important;
}

.pic-form-control.not {
  border-color: #f5364e;
  background-color: #fff8ed !important;
}
